{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <!--=============
    Preloader Part HTML Start
    ===================-->
 
    <!--=============
    Preloader Part HTML End
    ===================-->
    <!-- ===================
       back to top start 
     =================== -->
    <a href="#" id="back-top-btn">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ===================
       back to top End 
     =================== -->
    <!--================================================
                      MENU PART START
    ==================================================-->
    {% include 'include/header.html' %}
    <!--================================================
                       MENU PART END
    ==================================================-->



    <!--================================================
                       Inner BANNER PART START
    ==================================================-->
    <section id="inner_banner" class="inner_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-text">
                        <h2>Отели</h2>
                        <div class="inner-link">
                            <span><a href="{% url 'index' %}">Домой</a></span>
                            <span>/</span>
                            <span><a href="#">Отели</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================================================
                        Inner BANNER PART END
    ==================================================-->


    <!--=====================
    Tour Packages Part HTML Start
    =======================-->
    <section id="tour-package" class="tour tour-other section">
        <div class="container">

            <div class="row">
                {% for hotel in hotels %}
                <div class="col-md-4">
                    <div class="travel-place">
                        <div class="work-image">
                            <img src="{{hotel.image.url}}" class="img-fluid person" style="height: 250px;" alt="destination">
                            <div class="overlay">
                                <div class="overlay_shape">
                                    <a href="#" class="over-btn" style="margin-top: -50px;">20 photos</a>
                                    <a href="{% url 'detail_hotel' hotel.id %}" class="view-all">{{hotel.slug}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="travel-text">
                            <a href="{% url 'detail_hotel' hotel.id %}"><h3>{{hotel.title}}</h3></a>
                            <p>за 2 дня <span>|</span>{{hotel.price}}{{hotel.currency}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!--=====================
    Tour Packages Part HTML End
    =======================-->

    <!-- =============================
        Start: News Letter
    ============================= -->
    <section id="news" class="newsletter tour-news">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12 news-inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="news-text">
                                <h3>Subscribe to Our Newsletter</h3>
                                <p>If you Subscribe to our newsletter, we’ll send you the best deals for you and updates.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="subscribe-search">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="email" id="destination3" class="field-input" value="Your e-mail here" onfocus="if(this.value  == 'Your e-mail here') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Your e-mail here'; } " />
                                        <span class="input-group-btn">
                                            <a class="button-form">Subscribe</a>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =============================
        End: News Letter
    ============================= -->


    <!-- =======================
        footer Start 
    ========================== -->
    {% include 'include/footer.html' %}
    <!-- =====================
     footer end 
     ===================== -->


{% endblock %}