{% load static %}
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo Start-->
        <a class="logo" href="{% url 'index' %}">
            <span class="logo-light-mode">
                <img src="{{ setting.logo.url }}" height="26" class="l-dark" alt="">
                <img src="{{ setting.logo.url }}" height="26" class="l-light" alt="">
            </span>
            <img src="{{ setting.logo.url }}" height="26" class="logo-dark-mode" alt="">
        </a>
        <!-- Logo end-->

        <!-- Mobile -->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <!-- Mobile -->

        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">
            
            
            <li class="list-inline-item mb-0">
                <div class="dropdown dropdown-primary">
                    {% if user.is_authenticated and request.user == user %}
                    <a href="{% url 'user_profile' request.user.id %}"><img src="{{ request.user.profile_image.url }}" class="rounded-pill avatar avatar-sm-sm" alt=""></a>
                    <a href="{% url 'user_profile' request.user.id %}" style="color: black;">{{user.username}}</a>
                    /Ваш баланс:{{user.balans}} KGS
                    {% endif %}
                </div>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-left nav-light">
                <li class="has-submenu parent-parent-menu-item">
                    <a href="{% url 'index' %}">Домой</a> 
                </li>
                
                <select id=""  class="sub-menu-item  parent-parent-menu-item">
                                           
                    {% for currencys in currency %}
                      <option value="1">{{currencys.name_currency}}</option>
                      {% endfor %}
                    
                </select>
                
                <li><a href="activity.html" class="sub-menu-item"> Новости</a></li>

                <li><a href="{% url 'about_us' %}" class="sub-menu-item">О нас</a></li>
                {% if request.user.status_user == False %}
                <li><a href="{% url 'status_user' user.id %}" class="sub-menu-item">Работать с нами</a></li>
                {% else %}
                <li><a href="{% url 'create_hotel' %}" class="sub-menu-item">Создать объявление</a></li>
                {% endif %}
                
                <li><a href="{#}" class="sub-menu-item">Контакты</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="sub-menu-item">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'register' %}" class="sub-menu-item">Зарегистрироваться</a></li>
                <li><a href="{% url 'login' %}" class="sub-menu-item">Войти</a></li>
                {% endif %}
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->