{% extends 'homepage.html' %}
{% load static %}
{% block content %}


    <!--=============
    Preloader Part HTML End
    ===================-->
    <!-- ===================
       back to top start 
     =================== -->
    <a href="#" id="back-top-btn">
      <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ===================
       back to top End 
     =================== -->
    <!--================================================
                      MENU PART START
    ==================================================-->

    <!--================================================
                       MENU PART END
    ==================================================-->

    <!--================================================
                       Inner BANNER PART START
    ==================================================-->
    <section id="inner_banner" class="inner_banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-text">
              <h2>Error Page</h2>
              <div class="inner-link">
                <span><a href="index.html">home</a></span>
                <span>/</span>
                <span><a href="blog3.html">Error Page</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--================================================
                        Inner BANNER PART END
    ==================================================-->

    <!--=====================
    400 Part HTML Start
    =======================-->
    <section class="error-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="error-txt text-center">
              <h4>Ooops!</h4>
            </div>
            <div class="error-img text-center">
              <img src="images/404.png" class="img-fluid" alt="logo" />
            </div>
            <div class="error-bot text-center">
              <h5>We Think. You’re Lost</h5>
              <a href="index.html">Go Back to Home</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==================
    400 Part HTML End
    ====================-->

    <!-- =======================
        footer Start 
    ========================== -->
    <footer id="contact" class="contact">
      <div class="container">
        <div class="row contact-part">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="footer-add">
              <img src="images/footer-logo.png" class="img-fluid" alt="logo" />
              <div class="row footer-ad-txt footer-top">
                <div class="col-lg-4 col-md-4 col-4">
                  <h3>Address :</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-8">
                  <ul>
                    <li>420 Rankin Street Avenue</li>
                    <li>London City Center,</li>
                    <li>United Kingdom</li>
                  </ul>
                </div>
              </div>
              <div class="row footer-ad-txt">
                <div class="col-4">
                  <h3>Phone :</h3>
                </div>
                <div class="col-8">
                  <ul>
                    <li>+442012345678</li>
                  </ul>
                </div>
              </div>
              <div class="row footer-ad-txt footer-bot">
                <div class="col-4">
                  <h3>Website :</h3>
                </div>
                <div class="col-8">
                  <ul>
                    <li>www.travelagency.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="con-inner">
              <h2>Help & Support</h2>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookie policy</a></li>
                <li><a href="#">Terms of use</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="con-inner">
              <h2>Important Search</h2>
              <ul>
                <li><a href="#">Countries </a></li>
                <li><a href="#">Cities</a></li>
                <li><a href="#">Districts</a></li>
                <li><a href="#">Airports</a></li>
                <li><a href="#">Hotels</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-12">
            <div class="con-inner">
              <h2>Follow us on</h2>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-tripadvisor"></i>tripadvisor</a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-behance"></i>Behance</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="footer">
              <p>Copyright © 2020. All rights reserved by Designer</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- =====================
     footer end 
     ===================== -->
{% endblock %}
