{% extends 'homepage.html' %}
{% load static %}
{% block content %}
     <!--=============
    Preloader Part HTML Start
    ===================-->

    <!--=============
    Preloader Part HTML End
    ===================-->
     <!-- ===================
       back to top start 
     =================== -->
     <a href="#" id="back-top-btn">
       <i class="fas fa-angle-double-up"></i>
     </a>
     jhel
     <!-- ===================
       back to top End 
     =================== -->
     
    <!--================================================
                      MENU PART START
    ==================================================-->
    
    <!--================================================
                       MENU PART END
    ==================================================-->
    {% include 'include/header.html' %}
    
    
    <!--================================================
                       Inner BANNER PART START
    ==================================================-->
   <section id="inner_banner" class="inner_banner">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                <div class="inner-text">
                    <h2>О нас</h2>
                    <div class="inner-link">
                        <span><a href="{% url 'index' %}">Домой</a></span>
                        <span>/</span>
                        <span><a href="#">О нас</a></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!--================================================
                        Inner BANNER PART END
    ==================================================-->
    
    
    
    
    <!--================================================
                     About-us PART START
    ==================================================-->
    <section id="about-us" class="about-us section">
        <div class="container"> 
           <div class="row">
               <div class="col-lg-6 col-md-12">
                   <div class="row">
            <div class="col-md-4">
                    <div class="heading">
                        <h4>О нас</h4>                        
                    </div>
                </div>
            </div> 
            <div class="row">
            <div class="col-md-10">
                    <div class="sub-header">
                        <h3>Узнайте больше о наших
                            туристических агенств.</h3>                     
                    </div>
                </div>
            </div>         
            <div class="row">
                                    
                    <div class="col-md-12">
                    <div class="about-para">
                        <p>{{setting.description}}</p>


                    </div>
                    
                </div>
                
            </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-f-img">
                        <img src="{% static 'images/about-image-1.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-s-img">
                        <img src="{% static 'images/about-image-2.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
           </div> 
           <div class="row para-2">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-s-img">
                        <img src="{% static 'images/about-image-3.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-f-img">
                        <img src="{% static 'images/about-image-4.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
               <div class="col-lg-6 col-md-12">
                          
            <div class="row">
                                    
                    <div class="col-md-12">
                    
                    
                </div>
                
            </div>
               </div>
               
           </div> 
            
        </div>
    </section>
    <!--================================================
                     About PART END
    ==================================================-->
    
    <!-- =============================
        Start: News Letter
    ============================= -->
		<section id="news" class="newsletter other-news">
			<div class="container">
				<div class="row justify-content-center text-center">	
                    <div class="col-md-12 news-inner">
                        <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="news-text">
                            <h3>Подписывайтесь на нашу новостную рассылку</h3>
                            <p>Если вы подпишитесь на нашу рассылку, мы будем присылать вам лучшие предложения и обновления.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-search">
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" id="destination3" class="field-input" value="Your e-mail here" onfocus="if(this.value  == 'Your e-mail here') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Your e-mail here'; } " />
                                    <span class="input-group-btn">
                                <a class="button-form">Подписаться</a>
                              </span>
                                </div>
                            </form>
                        </div>
                    </div>
                        </div>
                </div>
				</div>
			</div>
		</section>
	<!-- =============================
        End: News Letter
    ============================= -->

 
	<!-- =======================
        footer Start 
    ========================== -->
	{% include 'include/footer.html' %}
	<!-- =====================
     footer end 
     ===================== -->
    
    
    
{% endblock %}}