{% extends 'homepage.html' %}
{% load static %}
{% block content %}
     <!--=============
    Preloader Part HTML Start
    ===================-->
    <div id="preloader">
        <div id="loading-center">
            <img src="images/white.gif" alt="">
        </div>
    </div>
    <!--=============
    Preloader Part HTML End
    ===================-->
     <!-- ===================
       back to top start 
     =================== -->
     <a href="#" id="back-top-btn">
       <i class="fas fa-angle-double-up"></i>
     </a>
     <!-- ===================
       back to top End 
     =================== -->
     
    <!--================================================
                      MENU PART START
    ==================================================-->
    
    <!--================================================
                       MENU PART END
    ==================================================-->
    {% include 'include/header.html' %}
    
    
    <!--================================================
                       Inner BANNER PART START
    ==================================================-->
   <section id="inner_banner" class="inner_banner">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                <div class="inner-text">
                    <h2>About us</h2>
                    <div class="inner-link">
                        <span><a href="index.html">home</a></span>
                        <span>/</span>
                        <span><a href="blog3.html">about us</a></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!--================================================
                        Inner BANNER PART END
    ==================================================-->
    
    
    
    
    <!--================================================
                     About-us PART START
    ==================================================-->
    <section id="about-us" class="about-us section">
        <div class="container"> 
           <div class="row">
               <div class="col-lg-6 col-md-12">
                   <div class="row">
            <div class="col-md-4">
                    <div class="heading">
                        <h4>О нас</h4>                        
                    </div>
                </div>
            </div> 
            <div class="row">
            <div class="col-md-10">
                    <div class="sub-header">
                        <h3>Узнайте больше о наших
                            туристических агенств.</h3>                     
                    </div>
                </div>
            </div>         
            <div class="row">
                                    
                    <div class="col-md-12">
                    <div class="about-para">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>

<p>fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>                     
                    </div>
                    
                </div>
                
            </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-f-img">
                        <img src="{% static 'images/about-image-1.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-s-img">
                        <img src="{% static 'images/about-image-2.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
           </div> 
           <div class="row para-2">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-s-img">
                        <img src="{% static 'images/about-image-3.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="about-f-img">
                        <img src="{% static 'images/about-image-4.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div>
               <div class="col-lg-6 col-md-12">
                          
            <div class="row">
                                    
                    <div class="col-md-12">
                    <div class="about-para">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>

<p>fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>                     
                    </div>
                    
                </div>
                
            </div>
               </div>
               
           </div> 
            
        </div>
    </section>
    <!--================================================
                     About PART END
    ==================================================-->
    
    <!-- =============================
        Start: News Letter
    ============================= -->
		<section id="news" class="newsletter other-news">
			<div class="container">
				<div class="row justify-content-center text-center">	
                    <div class="col-md-12 news-inner">
                        <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="news-text">
                            <h3>Подписывайтесь на нашу новостную рассылку</h3>
                            <p>Если вы подпишитесь на нашу рассылку, мы будем присылать вам лучшие предложения и обновления.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-search">
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" id="destination3" class="field-input" value="Your e-mail here" onfocus="if(this.value  == 'Your e-mail here') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Your e-mail here'; } " />
                                    <span class="input-group-btn">
                                <a class="button-form">Подписаться</a>
                              </span>
                                </div>
                            </form>
                        </div>
                    </div>
                        </div>
                </div>
				</div>
			</div>
		</section>
	<!-- =============================
        End: News Letter
    ============================= -->

 <!--=====================
    Tour Packages Part HTML Start
    =======================-->
    <section id="tour-package" class="tour section">
        <div class="container">
            <div class="row justify-content-center text-center">
               <div class="col-md-12">
                   <div class="row justify-content-center text-center">
            <div class="col-lg-2 col-md-4">
                    <div class="heading">
                        <h4>tour Packages</h4>                        
                    </div>
                </div>
            </div> 
            <div class="row justify-content-center text-center">
            <div class="col-lg-5 col-md-7">
                    <div class="sub-header">
                        <h3>The reasonable prices for the beautiful places</h3>                     
                    </div>
                </div>
            </div>         
               </div>
               
            </div>
            <div class="row tour-cont">
                                <div class="col-md-12">
                                   <div class="travel-place">
                                    <div class="work-image">
                                        <img src="images/tour-package-1.jpg" class="img-fluid person" alt="destination">
                                        <div class="overlay">
                                                <div class="overlay_shape">                                                   
                                                    <a href="#" class="over-btn">10 photos</a>                                                    
                                                    <a href="tourpackage.html" class="view-all">View All Places<i class="fas fa-long-arrow-alt-right"></i></a>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="travel-text">
                                        <h3>Romance, Arkansas, USA</h3>
                                        <p>for 7Days   <span>|</span>   $ 780.00</p>
                                    </div></div>
                                </div>
                                <div class="col-md-12">
                                   <div class="travel-place">
                                    <div class="work-image">
                                        <img src="images/tour-package-2.jpg" class="img-fluid person" alt="destination">
                                        
                                            <div class="overlay">
                                                <div class="overlay_shape">                                                   
                                                    <a href="#" class="over-btn">14 photos</a>                                                    
                                                    <a href="tourpackage.html" class="view-all">View All Places<i class="fas fa-long-arrow-alt-right"></i></a>
                                                </div>
                                            </div>
                                      
                                    </div>
                                    <div class="travel-text">
                                        <h3>Rockies, Colorado</h3>
                                        <p>for 3Days   <span>|</span>   $ 380.00</p>
                                    </div></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="travel-place">
                                    <div class="work-image">
                                        <img src="images/tour-package-3.jpg" class="img-fluid person" alt="destination">
                                        <div class="overlay">
                                                <div class="overlay_shape">                                                   
                                                    <a href="#" class="over-btn">12 photos</a>                                                    
                                                    <a href="tourpackage.html" class="view-all">View All Places<i class="fas fa-long-arrow-alt-right"></i></a>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="travel-text">
                                        <h3>Lover, Wiltshire, England</h3>
                                        <p>for 7Days   <span>|</span>   $ 680.00</p>
                                    </div></div>
                                </div>
            </div>
                                       <div class="row">
                                       <div class="col-md-12 text-center">
                    <div class="about-btn travel-btn">                    
						<a href="tourpackage.html" class="btn-4">View All Packages</a>
					</div>
                </div>                       
                            </div>
        </div>
    </section>
    <!--=====================
    Tour Packages Part HTML End
    =======================-->

	<!-- =======================
        footer Start 
    ========================== -->
	<footer id="contact" class="contact">
        <div class="container">
            <div class="row contact-part">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="footer-add">
                        <img src="images/footer-logo.png" class="img-fluid" alt="logo">    
                        <div class="row footer-ad-txt footer-top">
                            <div class="col-lg-4 col-md-4 col-4">
                                <h3>Address :</h3>
                            </div>
                            <div class="col-lg-8 col-md-8 col-8">
                                <ul>
                                    <li>420 Rankin Street Avenue</li>
                                    <li>London City Center,</li>
                                     <li>United Kingdom</li>
                                </ul>
                            </div>
                        </div>
<div class="row footer-ad-txt">
                            <div class="col-4">
                                <h3>Phone	:</h3>
                            </div>
                            <div class="col-8">
                                <ul>
                                    <li>+442012345678</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="row footer-ad-txt footer-bot">
                            <div class="col-4">
                                <h3>Website	:</h3>
                            </div>
                            <div class="col-8">
                                <ul>
                                    <li> www.travelagency.com</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="con-inner">
                        <h2>Help & Support</h2>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Cookie policy</a></li>
                            <li><a href="#">Terms of use</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="con-inner">
                        <h2>Important Search</h2>
                        <ul>
                            <li><a href="#">Countries </a></li>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">Districts</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Hotels</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="con-inner">
                        <h2>Follow us on</h2>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                            <li><a href="#"><i class="fab fa-tripadvisor"></i>tripadvisor</a></li>                            
                            <li><a href="#"><i class="fab fa-linkedin"></i>Linkedin</a></li>
                            <li><a href="#"><i class="fab fa-behance"></i>Behance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer">
                        <p>Copyright © 2020. All rights reserved by Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<!-- =====================
     footer end 
     ===================== -->
    
    
    
{% endblock %}