{% extends 'homepage.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="{% url 'index' %}">
                <div class="logo">
                    <img class="logo-size" src="{{setting.logo.url}}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'images/graphic3.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Войти в аккаунт</h3>
                        
                        <form method="post">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="username" placeholder="Имя пользователя" required>
                            <input class="form-control" type="password" name="password" placeholder="Пароль" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Войти</button> <a style="color: rgba(101, 99, 99, 0.56);" href="forget17.html">Вы забыли пароль?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <div class="text">Или войдите с помощью</div>
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>Google</a>
                        </div>
                        <div class="page-links">
                            <a href="{% url 'register' %}">
                                Зарегистрировать </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}